# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [18]:
CREATE TABLE JunkDB_STL_Sept2022.nicolettek.planned_makes (
    plan_id INT PRIMARY KEY IDENTITY (1,1),
    house_project VARCHAR (50) NOT NULL,
    floor INT NOT NULL,
    description VARCHAR (200), 
    est_cost INT,
);

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'planned_makes' in the database.

Add three rows to your table that are your planned makes.

In [5]:
INSERT INTO nicolettek.planned_makes (
    house_project, 
    floor, 
    description,
    est_cost)
VALUES (
    'hallway', 
    2, 
    'patch and paint walls and trim', 
    200
    ),
('stairwell', 
1, 
'put up molding and paint', 
250
),
('bathroom', 
2, 
'paint walls and put up shelves', 
150
);

In [29]:
SELECT * FROM nicolettek.planned_makes;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'nicolettek.planned_makes'.

## Update a Row

Change different values in one of your three rows.

In [26]:
UPDATE nicolettek.planned_makes
SET est_cost = 350,
 description = 'paint walls, put up shelves and replace shower lining'
WHERE
	house_project = 'bathroom';

## Delete a Row

Delete one of the rows from your table.

In [21]:
DELETE FROM nicolettek.planned_makes
WHERE
    house_project = 'stairwell';

## Drop the Table

While this has been fun, it is time to drop the table!

In [28]:
DROP TABLE nicolettek.planned_makes;